@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
     Layout = "/Views/Shared/_LayoutNoAuth.cshtml";
}

<a href="\Identity\Account\Login" style="float:right;">Login</a>
<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>

