@{
    Layout = null;
}

<div style="text-align:center"><span>[iv]</span></div>
<br />
<br />
<div style="text-align:justify;">
    <div style="font-size:13.2pt;font-family:'Times New Roman'">
        <h3 style="text-decoration: underline; font-size: 13.2pt; font-family: 'Times New Roman';">SECTION 11: TERMINATION</h3>
        <p>
            11.1 This agreement may be terminated by either party upon seven (7) days written notice in the event
            of substantial failure by the other party to perform in accordance with the terms hereof. Such
            termination shall not be effective if that substantial failure has been remedied before expiration of
            the period specified in the written notice. In the event of termination, Consultant shall be paid for
            services performed pursuant to this agreement through the date of termination.
        </p>
        <p>
            11.2 In the event of termination or suspension for more than (3) three months, prior to completion of
            all reports contemplated by this Agreement, Consultant may complete such analyses and records
            as are necessary to complete his files and also complete a report on the services performed to the
            date of notice of termination or suspension. The Consultant shall be entitled to payment for
            services for said completion, including all direct costs associated in completing such analyses,
            records and reports.
        </p>
        <h3 style="text-decoration: underline;font-size:13.2pt;font-family:'Times New Roman';">SECTION 12: ASSIGNS</h3>
        <p>
            12.1 Neither the Client nor the Consultant may delegate, assign, sublet or transfer his duties or interest
            in this Agreement without the written consent of the other party.
        </p>
        <h3 style="text-decoration: underline;font-size:13.2pt;font-family:'Times New Roman';">SECTION 13: GOVERNING LAW AND SURVIVAL</h3>
        <p>
            13.1 The laws of the State of Florida will govern the validity of these terms, their interpretation and
            performance.
        </p>
        <p>
            13.2 If any of the provisions contained in this Agreement are held illegal, invalid, or unenforceable,
            the enforceability of the remaining provisions will not be impaired. Limitations of liability and
            indemnities will survive termination of this Agreement for any cause.
        </p>
    </div>
</div>