@{
    Layout = null;
}

<div style="text-align:center"><span>[i]</span></div>
<br />
<br />
<h3 style="justify-content:center; width:450px;margin:auto;text-align:center;font-family:'Times New Roman';font-size:13.2pt;">
    Bio-Tech Consulting, Inc.
</h3>
<h3 style="justify-content:center; width:450px;margin:auto;text-align:center;text-decoration:underline;font-family:'Times New Roman';font-size:13.2pt;">
    General Contract Conditions
</h3>
<br />
<br />
<h3 style="text-decoration: underline;font-family:'Times New Roman';font-size:13.2pt;">SECTION 1: RESPONSIBILITIES</h3>
<div style="text-align:justify;">
    <div style="font-size:13.2pt;font-family:'Times New Roman';">
        <p>
            1.1 Bio-Tech Consulting, Inc. heretofore referred to as the “Consultant” has the responsibility for
            providing the services described under the “Scope of Services” section. The work is to be
            performed according to accepted standards of care and is to be completed in a timely manner.
        </p>
        <p>
            1.2 The “Client”, or a duly authorized representative, is responsible for providing the Consultant with
            a clear understanding of the project nature and scope. The Client shall supply the Consultant with
            sufficient and adequate information, including, but not limited to, maps, site plans, reports,
            surveys and designs, to allow the Consultant to properly complete the specified services. The
            Client shall also communicate changes in the nature and scope of the project as soon as possible
            during performance of the work so that the changes can be incorporated into the work product.
        </p>
    </div>
    <h3 style="text-decoration: underline;font-family:'Times New Roman';font-size:13.2pt;">SECTION 2: STANDARD OF CARE</h3>
    <div style="font-size:13.2pt;font-family:'Times New Roman';">
        <p>
            2.1 Services performed by the Consultant under this Agreement are expected by the Client to be
            conducted in a manner consistent with the level of care and skill ordinarily exercised by members
            of the Consultant’s profession practicing contemporaneously under similar conditions in the
            locality of the project. No other warranty, expressed or implied, is made.
        </p>
        <p>
            2.2 The Client recognizes that conditions may vary from those observed at locations where
            observations and analysis has occurred, and that site conditions may change with time. Data,
            Interpretations, and recommendations by the Consultant will be based solely on information
            available to the Consultant at the time of service. The Consultant is responsible for those data,
            interpretations, and recommendations, but will not be responsible for other parties’ interpretations
            or use of the information developed.
        </p>
    </div>
    <h3 style="text-decoration: underline;font-family:'Times New Roman';font-size:13.2pt;">SECTION 3: SITE ACCESS AND SITE CONDITIONS</h3>
    <div style="font-size:13.2pt;font-family:'Times New Roman';">
        <p>
            3.1 Client will grant or obtain free access to the site for all equipment and personnel necessary for the
            Consultant to perform the work set forth in this Agreement. The Client will notify any and all
            possessors of the project site that Client has granted Consultant free access to the site. The
            Consultant will take reasonable precautions to minimize damage to the site, but it is understood
            by Client that, in the normal course of work, some damage may occur, and the correction of such
            damage is not part of this Agreement unless so specified in the Proposal.
        </p>
    </div>
    <h3 style="text-decoration: underline;font-family:'Times New Roman';font-size:13.2pt;">SECTION 4: SAMPLE OWNERSHIP AND DISPOSAL</h3>
    <div style="font-size:13.2pt;font-family:'Times New Roman'">
        <p>
            4.1 Any samples obtained from the project during performance of the work shall remain the property
            of the Client.
        </p>
        <p>
            4.2 The Consultant will dispose of or return to Client all remaining samples 60 days after submission
            of report covering those samples. Further storage or transfer of samples can be made at Client’s
            expense upon Client’s prior written request.
        </p>
    </div>
</div>