@{
    Layout = null;
}
<br />
<div style="font-size:13.2pt;font-family:'Times New Roman';">
    <span>Billing Information: <span style="margin-left:21px;">Name:</span></span><span style="margin-left:55px;">______________________________________</span>
    <br />
    <br />
    <span style="margin-left:165px;">Title:</span><span style="margin-left:66px;">______________________________________</span>
    <br />
    <br />
    <span style="margin-left:165px;">Company:</span><span style="margin-left:30px;">______________________________________</span>
    <br />
    <br />
    <span style="margin-left:165px;">Address:</span><span style="margin-left:40px;">______________________________________</span>
    <br />
    <br />
    <span style="margin-left:266px;">______________________________________</span>
    <br />
    <br />
    <span style="margin-left:164px;">Phone:</span><span style="margin-left:52px;">______________________________________</span>
    <br />
    <br />
    <span style="margin-left:165px;">Cell:</span><span style="margin-left:67px;">______________________________________</span>
    <br />
    <br />
    <span style="margin-left:165px;">Fax:</span><span style="margin-left:69px;">______________________________________</span>
    <br />
    <br />
    <span style="margin-left: 165px;">E-mail:</span><span style="margin-left:48px;">______________________________________</span>
    <br />  
    <div style="height: 40px;width: 40px;border: solid black;display: inline-block;margin:20px 0 0 165px;"></div>
    <span style="margin:0 0 0 35px;font-weight:bold; vertical-align:text-top;">Please check here if you prefer to receive a paper invoice</span>
</div>


