@{
    Layout = null;
}
<div style="text-align:center"><span>[iii]</span></div>
<br />
<br />
<div style="font-size:13.2pt;font-family:'Times New Roman';text-align:justify;">
    <p>
        to inform the property owner of the discovery of unanticipated hazardous materials or suspected
        hazardous materials.
    </p>
    <p>
        7.5 Notwithstanding any other provision of the Agreement, Client waives any claim against
        Consultant, and to the maximum extent permitted by law, agrees to defend, indemnify, and save
        Consultant harmless from any claim, liability, and/or defense costs for injury or loss arising from
        Consultant’s discovery of unanticipated hazardous materials or suspected hazardous materials
        including any costs created by delay of the project and any cost associated with possible
        reduction of the property’s value. Client will be responsible for ultimate disposal of any samples
        secured by the Consultant which are found to be contaminated.
    </p>
    <h3 style="text-decoration: underline;font-size:13.2pt;font-family:'Times New Roman';">SECTION 8: RISK ALLOCATION</h3>
    <p>
        8.1 Unless a Client specific certificate of liability insurance is requested at time of proposal
        acceptance, Client agrees that Consultant’s liability for any damage on account of any error,
        omission or other professional negligence will be limited to a maximum of $10,000.
    </p>
    <h3 style="text-decoration: underline;font-size:13.2pt;font-family:'Times New Roman';">SECTION 9: INSURANCE</h3>
    <p>
        9.1 The Consultant represents and warrants that it and its agents, staff and Consultants employed by
        it, is and are protected by or exempt from worker’s compensation insurance and that Consultant
        has such coverage under public liability and property damage insurance policies which the
        Consultant deems to be adequate. Certificates for all such policies of insurance shall be provided
        to Client upon request in writing. Within the limits and conditions of such insurance, Consultant
        agrees to indemnify and save Client harmless from and against loss, damage, or liability arising
        from negligent acts by Consultant, its agents, staff, and consultants employed by it. The
        Consultant shall not be responsible for any loss, damage or liability beyond the amounts, limits,
        and conditions of such insurance or the limits described in Section 8, whichever is less. The
        Client agrees to defend, indemnify and save consultant harmless for loss, damage or liability
        arising from acts by client, client’s agent, staff, and other consultants employed by Client.
    </p>
    <h3 style="text-decoration: underline;font-size:13.2pt;font-family:'Times New Roman';">SECTION 10: DISPUTE RESOLUTION</h3>
    <p>
        10.1 All claims, disputes, and other matters in controversy between Consultant and Client arising out
        of or in any way related to this Agreement will be submitted to ‘alternative dispute resolution’
        (ADR) such as mediation and/or arbitration, before and as a condition precedent to other
        remedies provided by law.
    </p>
    <p>
        10.2 If a dispute at law arises related to the services provided under this Agreement and that dispute
        requires litigation instead of ADR as provided above, then:
        (a) the claim will be brought and tried in judicial jurisdiction of the court of the county where
        Consultant’s principal place of business is located and Client waives the right to remove
        the action to any other county or judicial jurisdiction, and
        (b) the prevailing party will be entitled to recovery of all reasonable costs incurred, including
        staff time, court costs, attorney’s fees, and other claim related expenses.
    </p>
</div>