@{
    Layout = null;
}

<div style="text-align:center"><span>[ii]</span></div>
<br />
<br />
<h3 style="text-decoration: underline;font-family:'Times New Roman';font-size:13.2pt">SECTION 5: BILLING AND PAYMENT</h3>
<div style="text-align:justify;">
    <div style="font-size:13.2pt;font-family:'Times New Roman';">
        <p>
            5.1 Consultant will submit invoices to Client monthly or upon completion of services. Invoices will
            show charges for different personnel and expense classification.
        </p>
        <p>
            5.2 Payment is due 30 days after presentation of invoice and is past due 31 days from invoice date.
            Client agrees to pay a finance charge of one percent (1%) per month, or the maximum rate
            allowed by law, on past due accounts.
        </p>
        <p>
            5.3 If the Consultant incurs any expenses to collect overdue billing on invoices, the sums paid by the
            Consultant for reasonable attorney’s fees, court costs, Consultant’s time, Consultant’s expenses,
            and interest will be due and owing by the Client.
        </p>

        <h3 style="text-decoration: underline;font-family:'Times New Roman';font-size:13.2pt;">SECTION 6: OWNERSHIP OF DOCUMENTS</h3>
        <p>
            6.1 All reports, field data, field notes, laboratory test data, calculations, estimates, and other
            documents prepared by the Consultant, as instruments of service, shall remain the property of the
            Consultant.
        </p>
        <p>
            6.2 Client agrees that all reports and other work furnished to the Client or his agents, which are not
            paid for, will be returned upon demand and will not be used by the Client for any purpose.
        </p>
        <p>
            6.3 The Consultant will retain all pertinent records relating to the services performed for a period of
            five years following submission of the report, during which period the records will be made
            available to the Client at all reasonable times.
        </p>
        <h3 style="text-decoration: underline;font-family:'Times New Roman';font-size:13.2pt;">SECTION 7: DISCOVERY OF UNANTICIPATED HAZARDOUS MATERIALS</h3>
        <p>
            7.1 Client warrants that a reasonable effort has been made to inform Consultant of known or
            suspected hazardous materials on or near the project site.
        </p>
        <p>
            7.2 Under this agreement, the term hazardous materials will include hazardous materials (40 CFR
            172.01), hazardous wastes (40 CFR 261.2), hazardous substances (40 CFR 300.6), petroleum
            products, polychlorinated biphenyls and asbestos.
        </p>
        <p>
            7.3 Hazardous materials may exist at a site where there is no reason to believe they could or should
            be present. Consultant and Client agree that the discovery of unanticipated hazardous materials
            constitutes a changed condition mandating a renegotiation of the scope of work. Consultant and
            Client also agree that the discovery of unanticipated hazardous materials may make it necessary
            for Consultant to take immediate measures to protect health and safety. Client agrees to
            compensate Consultant for any equipment decontamination or other costs incident to the
            discovery of unanticipated hazardous waste.
        </p>
        <p>
            7.4 Consultant agrees to notify Client when unanticipated hazardous materials or suspected
            hazardous materials are encountered. Client agrees to make any disclosures required by law to
            the appropriate governing agencies. Client also agrees to hold Consultant harmless for any and
            all consequences of disclosure made by Consultant which are required by governing law. In the
            event the project site is not owned by Client, Client recognizes that it is the Client’s responsibility
        </p>
    </div>
</div>