@{
    Layout = null;
    var miklosSignature = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}/images/Miklos-signature.png").AbsoluteUri;
}

<br />
<h3 style="justify-content:center; width:450px;margin:auto;text-align:center;font-family:'Times New Roman';font-size:13.2pt;">
    Bio-Tech Consulting, Inc.
</h3>
<h3 style="justify-content:center; width:450px;margin:auto;text-align:center;text-decoration:underline;font-family:'Times New Roman';font-size:13.2pt;">
    Time & Materials Schedule
</h3>
<br />
<br />
<div style="font-size:13.2pt;font-family:'Times New Roman'">
    <span style="margin-left:50px;">Expert Witness</span> <span style="margin-left:368px;">$350.00-$400.00/Hour</span>
    <br />
    <span style="margin-left:50px;">President, John Miklos</span><span style="margin-left:317px;">$250.00/hour</span>
    <br />
    <span style="margin-left:50px;">Vice President/Directors</span> <span style="margin-left:300px;">$175.00/Hour</span>
    <br />
    <span style="margin-left:50px;">Project Manager</span> <span style="margin-left:356px;">$150.00/Hour</span>
    <br />
    <span style="margin-left:50px;">Wildlife Specialist</span> <span style="margin-left:350px;">$140.00/Hour</span>
    <br />
    <span style="margin-left:50px;">Field Biologist</span> <span style="margin-left:375px;">$130.00/Hour</span>
    <br />
    <span style="margin-left:50px;">Field Technician</span><span style="margin-left:364px;">$105.00/Hour</span>
    <br />
    <span style="margin-left:50px;">GIS</span><span style="margin-left:455px;">$110.00/Hour</span>
    <br />
    <span style="margin-left:50px;">Administrative</span> <span style="margin-left:375px;">$65.00/Hour</span>
    <br />
    <span style="margin-left:50px;">Materials Cost</span> <span style="margin-left:375px;">Cost + 12%</span>
    <br />
    <br />
    <p style="text-align:justify;font-size:10pt;">
        Bio-Tech Consulting’s company policy requires that the Proposal for Services must be executed and
        returned via fax, email or post prior to initiation of any work associated with this scope and/or project.
        The client will only be billed for the tasks and/or hours completed. Fees and all other charges will be
        billed monthly or as the work progresses and the net amount shall be due at the time of invoicing. Any
        Time and Materials work is based on the above rates and any actual costs incurred. Any work requested
        outside of this Proposal for Services described above would require either an additional contract or
        authorization for Time and Materials. Please note that the hourly rates are subject to the current year’s
        pricing. Any balance remaining unpaid after 30 days of initial invoicing will be subject to an interest
        charge of 12% APR (not to exceed the maximum rate allowable by law). The client agrees that any
        balance remaining unpaid after 90 days from the date of the initial invoicing shall be deemed in default.
        The client further agrees that in the event payment is not made and the amount is referred to a Collection
        Agency and/or an attorney, to pay all cost of collection, including but not limited to, all collection agency
        fees, attorney’s fees, paralegal fees, court costs, and investigative fees. It is also agreed that if legal action
        is necessary to collect on the account, the State of Florida, Orange County, will retain jurisdiction and
        venue over the matter. Client confirms project limits as outlined/illustrated in this agreement, accepts the
        general conditions attached herein and agrees that Bio-Tech Consulting, Inc., and its staff and assigns,
        have full access to the identified property, for the purposes of completing the tasks identified in the above
        Proposal for Services.
    </p>
</div>

<span style="font-weight:bold;font-size:13.2pt;font-family:'Times New Roman';">MUTUALLY UNDERSTOOD AND AGREED:</span>
<br />
<br />
<div style="font-size:13.2pt;font-family:'Times New Roman'; text-align:center; margin-top:20px;">
    <img style="width:200px;height:60px; display:block; margin-left:90px; margin-bottom:-40px;" src="@miklosSignature" />
    <span style="width:200px;height:60px; display:block; margin-left:480px; margin-bottom:-53px;">@DateTime.Now.ToString("MMMM dd, yyyy")</span>
    <span>_______________________</span> <span style="margin-left:200px;">_______________________</span>
    <br />
    <span style="font-weight:bold; margin-left:-70px;">John Miklos, President</span><span style="font-weight:bold;margin-left:297px;">Date</span>
    <br />
    <span style="font-weight:bold;margin-left:-390px;">Bio-Tech Consulting, Inc.</span>
    <br />
    <br />
    <br />
    <span>_______________________</span><span style="margin-left:200px;">_______________________</span>
    <br />
    <span style="font-weight:bold;margin-left:-87px;">Authorized Signatory</span><span style="font-weight:bold;margin-left:308px;">Date</span>
</div>