@model UserRegistrationViewModel
@{
    var passwordMessage = ViewBag.PasswordUpdated;
}
<h4>Update Password</h4>
<div class="row">
    <div class="col-md-10">
        <div class="pad">

            <form method="post" action="@Url.Action("ChangePassword")">
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control col-md-5" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control col-md-5" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" value="@Model.Id" name="Id" />
                <div class="form-group marginTop10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" id="hdnPasswordMessage" value="@passwordMessage"/>
<script>
    $(function () {
        let taskMessage = $('#hdnPasswordMessage').val();
        if (taskMessage.trim()) {
            $.notify(taskMessage, 'success');
        }
    });
</script>
